{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Josh Cai{% endblock %}</title>
		<meta charset=”utf-8”> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript">
		$.ajax({
		    type: "POST",
		    url: "http://joshcai.com:3000/",
		    data: {
		        'domain': window.location.hostname,
		        'path': window.location.pathname,
		        'referral': document.referrer,
		        'useragent': navigator.userAgent
		    }
		});
		</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-47823647-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>
		<div class="container" id="container-wrapper">
			<div class="row">
				<div class="col-lg-3">
					<!--<div id="header-bar"></div>-->
					<!--<div id="header-img"><img src="http://placehold.it/200x150" /></div>-->
					<div id="header">
						<div id="header-text"><h1>Josh Cai</h1></div>
						<p>sophomore at UTD studying cs/math</p>
						<div class="row">
							<div id="header-links" class="col-lg-12 col-sm-6">
								<hr />
								<ul class="nav nav-pills nav-stacked">
									<li {% ifequal nav "blog" %}class="active"{% endifequal %}><a href="{% url 'blog:index' %}">Blog</a></li>
									{% ifequal nav "blog" %}
									<div class="sidebar-well">
										{% block navigation %}
										{% endblock %}
									</div>
									{% endifequal %}
									<li {% ifequal nav "about" %}class="active"{% endifequal %}><a href="{% url 'blog:about' %}">About</a></li>
									<li {% ifequal nav "resume" %}class="active"{% endifequal %}><a href="{% url 'blog:resume' %}">Resume</a></li>
									<li {% ifequal nav "contact" %}class="active"{% endifequal %}><a href="{% url 'blog:contact' %}">Contact</a></li>
									{% if request.session.logged_in_blog %}
									<br />
									<li><a href="{% url 'blog:newpost' %}">New Post</a></li>
									<li><a href="{% url 'blog:logout' %}">Logout</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="content-wrapper" class="{% ifequal nav "resume" %}col-lg-9{% else %} col-lg-6 {% endifequal %}">
					{% block content%}
					<h1>Webpage!</h1>
					testsst
					{% endblock %}
				</div>
				{% ifnotequal nav "resume" %}
				<div id="sidebar" class="col-lg-3">
				</div>
				{% endifnotequal %}
			</div>
		</div>

		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>
