{% extends "blog/base.html" %}


{% block content %}
<!-- add some white space here?  -->
<!-- style="padding-top:20px;" -->
<div  class="">
	<h2>Contact</h2>
	<hr >
<!-- 	<div class="text-center">
		<p>call me, beep me, if you want to reach me</p>
	</div>	 -->
	<table class="table">
		<tr>
			<td class="text-right"><strong>Phone</strong></td>
			<td>972-352-0246</td>
		</tr>
		<tr>
			<td class="text-right"><strong>Email</strong></td>
			<td>joshua.cai@utdallas.edu</td>
		</tr>
		<tr>
			<td class="text-right"><strong>Other</strong></td>
			<td><a href="http://www.linkedin.com/pub/josh-cai/59/584/a55">LinkedIn</a>,&nbsp;<a href="https://github.com/joshcai">GitHub</a></td>
		</tr>
	</table>
</div>
{% endblock %}

