{% extends "blog/base.html" %}

{% load tagcheck %}

{% block content %}
<!-- add some white space here?  -->
<h2>Blog</h2>
<hr >
{% if blog_entries %}
    {% for post in blog_entries %}
    	<div class="well">
    		<!-- fix so that subject has priority? -->
	    	<span class="pull-right"><em>{{ post.date_str }}</em></span>
    		<span class="post-title"><a href="{% url 'blog:post' post.id %}">{{ post.subject }}</a></span>
	        <p>{{ post.content_rendered|safe }}</p>
	        {% if request.session.logged_in_blog %}
	        <a href="{% url 'blog:update' post.id %}">Update</a>
	        <a href="{% url 'blog:delete' post.id %}">Delete</a>
	        {% endif %}
	    </div>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}

{% block navigation %}
{% if prev %}
<a href="{% url 'blog:index_num' page_num|add:"-1" %}">Prev</a> 
	{% if not next %}
	<br />
	{% endif %}
{% endif %}
{% if next %}
<a href="{% url 'blog:index_num' page_num|add:"1" %}">Next</a> 
<br />
{% endif %}

<a data-toggle="collapse" href="#filter-wrapper">Filter</a>
<div id="filter-wrapper" class="collapse {% if filtered %} in {% endif %}">
	<form name="filter" action="{% url 'blog:index' %}" method=get>
	<input type="hidden" name="filter" value="true">
	{% for tag in tags %}
		<div class="checkbox">
			<label>
				<span class="pull-left text-right checkbox-title">{{ tag.descript }}</span>
				<span class="pull-right"><input type="checkbox" name="{{ tag.descript }}" {% if request.session|tagcheck:tag.descript %} checked {% endif %}></span>
			</label>
		</div>
	{% endfor %}
	<button type="submit" class="btn">Submit</button>
	</form>
</div>
{% endblock %}