{% extends "blog/base.html" %}


{% load staticfiles %}

{% block content %}
	<div  class="">
		<h2>Resume <span style="font-size:16pt;">(click <a href="{% static 'josh_cai_resume.pdf' %}">here</a> to save)</span></h2>
		<hr >
	</div>
  		<object data="{% static 'josh_cai_resume.pdf' %}" type="application/pdf" width="100%" height="1000">
		  <p>It appears you don't have a PDF plugin for this browser.
		  No biggie... you can <a href="{% static 'josh_cai_resume.pdf' %}">click here to
		  download the PDF file.</a></p>
		</object>
{% endblock %}

