{% extends "resume_app/base.html" %}


{% block content %}
  <div class="row">
    <div class="col-lg-6 centered">
      <h1>Build</h1>
      <p>At the first step, we help you visualize your qualitative assets like education, skill sets, work experience, projects, publication and recognitions.
While we let you dream about they way you want to appear, we take care of the subtleties of putting all the information together.</p>

<p>Whether it is about multiple majors or diversified skill sets or multiple publications or numerous work experiences, you have the leverage to pick what you want to show and compose your resume for a specific job description. And you can have more than one resume design to be able to apply for multiple job descriptions.</p>

<p>Whether you are an amateur or a professional, we have the right mix of options for you, to get recognized by employers.
So what are you waiting for, Start building one right now!</p>
    </div>
  </div>
{% endblock %}
