{% extends "resume_app/base.html" %}


{% block content %}
  <div class="row">
    <div class="col-lg-6 centered">
      <h1>Explore</h1>
      <p>The exploring phase allows you to get ideas of how to make your resume more competitive.  Look at what other applicants are bringing to the table. See how they have arranged their work experience or skill sets or education information to draw attention. You can read critiques left by other users on your resume. Using those suggestions, make changes that will nuance your resume to look more attractive to potential employers. Other applicants will give you useful recommendations about the format of your document and the template you are using. Or they will comment about how you can make your resume clutter free and emphasize strong points that are not highlighted enough. 
</p>

<p>

If you have any insights on other applicant’s resumes, pay it forward by leaving comments on there. This phase will strengthen your resume much more than automated systems that other sites use. 
</p>

    </div>
  </div>
{% endblock %}
