{% extends "resume_app/base.html" %}


{% block content %}
<br />
<div class="col-md-4 centered">
	<form action="{% url 'resume_app:login' %}" method="post">
		<fieldset>
			{% csrf_token %}
			<legend>Login</legend>
			<!--<label>Subject</label>-->
			<input type="text" name="username" value="{{ user.name }}" placeholder="Username" class="form-control" />
			<br />
			<!--<label>Content</label>-->
			<input type="password" name="password" placeholder="Password" class="form-control" />
			<br />
			{{ error_message | safe }}
			<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
</div>
{% endblock %}
