{% extends "resume_app/base.html" %}


{% block content %}
  <div class="row">
    <div class="col-lg-6 centered">
      <h1>Build</h1>
      <p>Usually after you apply, employer Application Tracking Systems parse your resume to see how many keyword hits they find in your resume. ResuMatch helps you make this process more efficient. We help you build your resume so that it is tailored to fit a certain job listing the best. Then, ResuMatch uses that resume to find other job listings on leading Job sites that show similar descriptions. Instead of waiting for employer to find you, ResuMatch finds employers that are looking for your talent. You can let ResuMatch automatically send your resume to similar job opportunities, or you can again tone your resume so that you will be most competitive for a specific listing. </p>
    </div>
  </div>
{% endblock %}
