{% extends "resume_app/base.html" %}


{% block content %}
<br />
<div class="col-md-4 centered">
	<form action="{% url 'resume_app:signup' %}" method="post">
		<fieldset>
			{% csrf_token %}
			<legend>Create an Account</legend>
			<!--<label>Subject</label>-->
			<input type="text" name="name" value="{{ name }}" placeholder="Name" class="form-control" />
			<br />
			<input type="text" name="username" value="{{ username }}" placeholder="Username" class="form-control" />
			<br />
			<input type="text" name="email" value="{{ email }}" placeholder="Email" class="form-control" />
			<br />
			<!--<label>Content</label>-->
			<input type="password" name="password" placeholder="Password" class="form-control" />
			<br />
			<input type="password" name="password_confirm" placeholder="Password" class="form-control"/>
			<br />
			{{ error_message | safe }}
			<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
</div>
{% endblock %}
